
<p>

  Hello,

     You have been invited to the Family Practice Site with the URL <br/>
     Click here ( 
     <% if @current_site.nil? || @current_site.name == "mfp"  %>
         <a href="http://<%= APP_CONFIG['site_url'] %>">http://<%= APP_CONFIG['site_url'] %></a>
     <% else %>
         <a href="http://<%= @current_site.name %>.<%= APP_CONFIG['site_url'] %>">http://<%= @current_site.name %>.<%= APP_CONFIG['site_url'] %></a>
     <% end %> ) to register
  
</p> 
   
<br/>
<p>
    Thank you<br/>
    Family Practice Team
</p>